<a href="https://colab.research.google.com/github/SShresth7272/Python-Code/blob/main/Groupby_and_Aggregation_in_Pandas_PracticeSheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Store sales data
store_data = {
    'store_id': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'A', 'B', 'C'],
    'product_type': ['Grocery', 'Electronics', 'Clothing', 'Grocery', 'Electronics', 'Clothing',
                    'Grocery', 'Electronics', 'Clothing', 'Grocery', 'Electronics', 'Clothing'],
    'sales': [2500, 15000, 8000, 1800, 12000, 6500, 3200, 18000, 9200, 2800, 14000, 7500],
    'month': ['Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Jan', 'Feb', 'Feb', 'Feb']
}

In [3]:
stores = pd.DataFrame(store_data)
print("\n9. Store Sales Data:")
print(stores)

9. Store Sales Data:
   store_id product_type  sales month
0         A      Grocery   2500   Jan
1         A  Electronics  15000   Jan
2         A     Clothing   8000   Jan
3         B      Grocery   1800   Jan
4         B  Electronics  12000   Jan
5         B     Clothing   6500   Jan
6         C      Grocery   3200   Jan
7         C  Electronics  18000   Jan
8         C     Clothing   9200   Jan
9         A      Grocery   2800   Feb
10        B  Electronics  14000   Feb
11        C     Clothing   7500   Feb

In [4]:
store_performance = stores.groupby('store_id')['sales'].agg(['sum', 'mean', 'count'])
print("\n10. Store Performance:")
print(store_performance)

10. Store Performance:
            sum    mean  count
store_id
A         28300  7075.0      4
B         34300  8575.0      4
C         37900  9475.0      4

In [7]:
product_performance = stores.groupby('product_type')['sales'].agg([
    ('total_sales', 'sum'),
    ('avg_sales', 'mean'),
    ('store_count', 'count')
])
print("\n11. Product Performance:")
print(product_performance)

11. Product Performance:
              total_sales  avg_sales  store_count
product_type
Clothing            31200     7800.0            4
Electronics         59000    14750.0            4
Grocery             10300     2575.0            4

In [8]:
monthly_store = stores.groupby(['store_id', 'month'])['sales'].sum().reset_index()
print("\n12. Monthly Store Sales:")
print(monthly_store)

12. Monthly Store Sales:
  store_id month  sales
0        A   Feb   2800
1        A   Jan  25500
2        B   Feb  14000
3        B   Jan  20300
4        C   Feb   7500
5        C   Jan  30400

In [9]:
employee_data = {
    'emp_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'department': ['IT', 'HR', 'IT', 'Finance', 'HR', 'IT', 'Finance', 'IT'],
    'position': ['Manager', 'Associate', 'Developer', 'Analyst', 'Manager', 'Developer', 'Manager', 'Analyst'],
    'salary': [75000, 50000, 60000, 55000, 65000, 62000, 80000, 58000],
    'experience_years': [8, 3, 5, 4, 7, 4, 10, 3]
}

In [11]:
employees = pd.DataFrame(employee_data)
print("\nEmployee Data:")
print(employees)

Employee Data:
   emp_id department   position  salary  experience_years
0     101         IT    Manager   75000                 8
1     102         HR  Associate   50000                 3
2     103         IT  Developer   60000                 5
3     104    Finance    Analyst   55000                 4
4     105         HR    Manager   65000                 7
5     106         IT  Developer   62000                 4
6     107    Finance    Manager   80000                10
7     108         IT    Analyst   58000                 3

In [13]:
dept_salary = employees.groupby('department')['salary'].agg([
    ('total_payroll', 'sum'),
    ('avg_salary', 'mean'),
    ('min_salary', 'min'),
    ('max_salary', 'max'),
    ('employee_count', 'count')
])
print("\n7. Department Salary Analysis:")
print(dept_salary)

7. Department Salary Analysis:
            total_payroll  avg_salary  min_salary  max_salary  employee_count
department
Finance            135000     67500.0       55000       80000               2
HR                 115000     57500.0       50000       65000               2
IT                 255000     63750.0       58000       75000               4

In [14]:
position_stats = employees.groupby('position').agg({
    'salary': ['mean', 'min', 'max', 'std'],
    'experience_years': ['mean', 'max']
})
print("\n8. Position-wise Statistics:")
print(position_stats)

8. Position-wise Statistics:
                 salary                            experience_years
                   mean    min    max          std             mean max
position
Analyst    56500.000000  55000  58000  2121.320344         3.500000   4
Associate  50000.000000  50000  50000          NaN         3.000000   3
Developer  61000.000000  60000  62000  1414.213562         4.500000   5
Manager    73333.333333  65000  80000  7637.626158         8.333333  10