<a href="https://colab.research.google.com/github/SShresth7272/Python-Code/blob/main/Pandas_Dataset2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris['species'] = iris.target

In [4]:
print(df_iris.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   species
0        0
1        0
2        0
3        0
4        0

In [5]:
print(df_iris['species'].unique())

[0 1 2]

In [6]:
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

In [7]:
print(df_iris['species'].value_counts().sort_index())

species
0    50
1    50
2    50
Name: count, dtype: int64

In [8]:
df_iris.columns = [col.replace(' ', '_').replace('(cm)', '').strip()
                   for col in df_iris.columns]

In [10]:
print (df_iris.columns)

Index(['sepal_length_', 'sepal_width_', 'petal_length_', 'petal_width_',
       'species'],
      dtype='object')

In [16]:
# Filter rows where petal_length is greater than 1.5
filtered_petal = df_iris[df_iris['petal_length_'] > 1.5]

print("Rows with petal_length > 1.5:")
print(f"Number of rows: {len(filtered_petal)}")
print(filtered_petal.head())

Rows with petal_length > 1.5:
Number of rows: 113
    sepal_length_  sepal_width_  petal_length_  petal_width_  species
5             5.4           3.9            1.7           0.4        0
11            4.8           3.4            1.6           0.2        0
18            5.7           3.8            1.7           0.3        0
20            5.4           3.4            1.7           0.2        0
23            5.1           3.3            1.7           0.5        0

In [17]:
# Filter rows where species equals 2 (virginica)
filtered_species = df_iris[df_iris['species'] == 2]

print("\nRows with species = 2 (virginica):")
print(f"Number of rows: {len(filtered_species)}")
print(filtered_species.head())

Rows with species = 2 (virginica):
Number of rows: 50
     sepal_length_  sepal_width_  petal_length_  petal_width_  species
100            6.3           3.3            6.0           2.5        2
101            5.8           2.7            5.1           1.9        2
102            7.1           3.0            5.9           2.1        2
103            6.3           2.9            5.6           1.8        2
104            6.5           3.0            5.8           2.2        2

In [24]:
# Combine both conditions (AND operation)
combined_filter = df_iris[(df_iris['petal_length_'] > 1.5) & (df_iris['species'] == 2)]

print("Rows with petal_length > 1.5 AND species = 2:")
print(f"Number of rows: {len(combined_filter)}")
print(combined_filter.head(10))

Rows with petal_length > 1.5 AND species = 2:
Number of rows: 50
     sepal_length_  sepal_width_  petal_length_  petal_width_  species
100            6.3           3.3            6.0           2.5        2
101            5.8           2.7            5.1           1.9        2
102            7.1           3.0            5.9           2.1        2
103            6.3           2.9            5.6           1.8        2
104            6.5           3.0            5.8           2.2        2
105            7.6           3.0            6.6           2.1        2
106            4.9           2.5            4.5           1.7        2
107            7.3           2.9            6.3           1.8        2
108            6.7           2.5            5.8           1.8        2
109            7.2           3.6            6.1           2.5        2

In [21]:
# Filter and select specific columns
filtered_subset = df_iris.loc[df_iris['species'] == 2, ['sepal_length_', 'petal_length_', 'species']]

print("Selected columns for species = 2:")
print(filtered_subset.head())

Selected columns for species = 2:
     sepal_length_  petal_length_  species
100            6.3            6.0        2
101            5.8            5.1        2
102            7.1            5.9        2
103            6.3            5.6        2
104            6.5            5.8        2

In [26]:
# Group by species and calculate mean sepal_length
sepal_length_avg = df_iris.groupby('species')['sepal_length_'].mean()

print("Average sepal_length per species:")
print(sepal_length_avg)

Average sepal_length per species:
species
0    5.006
1    5.936
2    6.588
Name: sepal_length_, dtype: float64

In [28]:
# Group by species and calculate max petal_width
petal_width_max = df_iris.groupby('species')['petal_width_'].max()

print("\nMaximum petal_width per species:")
print(petal_width_max)

Maximum petal_width per species:
species
0    0.6
1    1.8
2    2.5
Name: petal_width_, dtype: float64

In [30]:
# Get detailed statistics for each species group
detailed_stats = df_iris.groupby('species')['sepal_length_'].describe()

print("Detailed sepal_length statistics per species:")
print(detailed_stats)

Detailed sepal_length statistics per species:
         count   mean       std  min    25%  50%  75%  max
species
0         50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
1         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
2         50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9