<a href="https://colab.research.google.com/github/SShresth7272/Python-Code/blob/main/python12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Create a DataFrame with dates and missing values
df_sales = pd.DataFrame({
    "Order_Date": pd.date_range('2024-01-01', periods=6, freq='D'),
    "Product": ["A", "B", "A", "C", "B", "C"],
    "Region": ["East", "East", "West", "Central", "West", np.nan],
    "Units_Sold": [5, 3, 4, 2, 6, 7],
    "Unit_Price": [100.0, 200.0, 105.0, 150.0, 195.0, 155.0]
})

print("Sales DataFrame:")
print(df_sales)

Sales DataFrame:
  Order_Date Product   Region  Units_Sold  Unit_Price
0 2024-01-01       A     East           5       100.0
1 2024-01-02       B     East           3       200.0
2 2024-01-03       A     West           4       105.0
3 2024-01-04       C  Central           2       150.0
4 2024-01-05       B     West           6       195.0
5 2024-01-06       C      NaN           7       155.0