<a href="https://colab.research.google.com/github/SShresth7272/Python-Code/blob/main/Python_Pandas_Practice_sheet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

Changing index

In [8]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5],
index = ['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

Series object from dictionary

In [9]:
import pandas as pd
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

Changing index position

In [10]:
import pandas as pd
pd.Series({'a':10,'b':20,'c':30}, index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

Extracting single element

In [11]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

np.int64(4)

Extracting element from back

In [12]:
s1[-3:]

6    7
7    8
8    9
dtype: int64

Extracting a sequence of elements

In [13]:
s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [15]:
s1 + 5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [26]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([11,21,31,41,51,61,71,81,91])
s1 +s2

0     12
1     23
2     34
3     45
4     56
5     67
6     78
7     89
8    100
dtype: int64

Data Frame

In [30]:
l=[1,2,3,4]
df1=pd.DataFrame(l)

In [31]:
data=[['a',10,'Blr'],['b',20,'Delhi'],['c',30,'Roorkee']]
df2=pd.DataFrame(data)