<a href="https://colab.research.google.com/github/SShresth7272/Python-Code/blob/main/Python_Pandas_Practice_Sheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Generate sample data
np.random.seed(42)
data = {
    'Date': pd.date_range(start='2023-01-01', end='2023-12-31', freq='D'),
    'Region': np.random.choice(['North America', 'Europe', 'Asia-Pacific', 'Latin America', 'Africa'], 365),
    'Product_Category': np.random.choice(['Electronics', 'Clothing', 'Food & Beverages', 'Home & Garden'], 365),
    'Sales_Amount': np.random.uniform(100, 5000, 365).round(2),
    'Units_Sold': np.random.randint(1, 100, 365),
    'Customer_ID': np.random.choice(['CUST_001', 'CUST_002', 'CUST_003', 'CUST_004', 'CUST_005'], 365)
}

# Create DataFrame
df = pd.DataFrame(data)
print("DataFrame Created:")
print(df.head())

DataFrame Created:
        Date         Region Product_Category  Sales_Amount  Units_Sold  \
0 2023-01-01  Latin America         Clothing       2327.25          61
1 2023-01-02         Africa      Electronics       3175.03          49
2 2023-01-03   Asia-Pacific    Home & Garden       2963.14          71
3 2023-01-04         Africa    Home & Garden       4515.67           1
4 2023-01-05         Africa         Clothing        322.69          96

  Customer_ID
0    CUST_003
1    CUST_005
2    CUST_002
3    CUST_001
4    CUST_004

In [ ]:
import pandas as pd
import numpy as np

# Set parameters
n_rows = 1000
n_cols = 100

# Generate hierarchical index
regions = ['North', 'South', 'East', 'West']
customer_segments = ['B2B', 'B2C']
index_tuples = [(np.random.choice(regions), np.random.choice(customer_segments), i)
                for i in range(n_rows)]
index = pd.MultiIndex.from_tuples(index_tuples, names=['Region', 'Segment', 'Customer_ID'])

# Generate column names
numeric_cols = [f'Revenue_{i}' for i in range(40)]
categorical_cols = [f'Category_{i}' for i in range(30)]
date_cols = [f'Date_{i}' for i in range(10)]
boolean_cols = [f'Flag_{i}' for i in range(20)]

# Combine all columns
columns = numeric_cols + categorical_cols + date_cols + boolean_cols

# Create DataFrame with random data
data = {}
for col in numeric_cols:
    data[col] = np.random.exponential(scale=1000, size=n_rows)  # Financial data
for col in categorical_cols:
    data[col] = np.random.choice(['Electronics', 'Clothing', 'Food', 'Unknown'], n_rows)
for col in date_cols:
    dates = pd.date_range('2020-01-01', '2023-12-31', n_rows)
    data[col] = np.random.choice(dates, n_rows)
for col in boolean_cols:
    data[col] = np.random.choice([True, False], n_rows)

df = pd.DataFrame(data, index=index)

# Introduce missing values (5%)
for col in np.random.choice(columns, size=int(0.05 * n_cols)):
    idx = np.random.choice(n_rows, size=int(0.05 * n_rows))
    df.loc[df.index[idx], col] = np.nan

# Add outliers in numeric columns
for col in numeric_cols[:10]:
    outlier_idx = np.random.choice(n_rows, size=int(0.01 * n_rows))
    df.loc[df.index[outlier_idx], col] *= 100

# Add duplicate rows (2%)
duplicates = df.sample(n=int(0.02 * n_rows))
df = pd.concat([df, duplicates])

print(f"DataFrame shape: {df.shape}")
print(df.head())

DataFrame shape: (1020, 100)
                              Revenue_0    Revenue_1   Revenue_2    Revenue_3  \
Region Segment Customer_ID
West   B2C     0             131.252044   392.319591   83.496536   945.054615
               1             817.899840   314.042287  583.098341   463.582231
East   B2C     2             420.326016   211.865618  178.369487  1479.076660
West   B2C     3            1306.276839  1186.267011  203.903645   186.886976
South  B2C     4            1056.391221   246.816064  226.015107   485.346026

                              Revenue_4    Revenue_5    Revenue_6  \
Region Segment Customer_ID
West   B2C     0             441.253683   679.732547   592.998591
               1             179.450222   865.430816  1560.003294
East   B2C     2             700.613856   209.582980   963.241644
West   B2C     3            1773.150992  2311.703845   120.022749
South  B2C     4            1090.680513  1121.431525   169.995561

                              Revenue_7    Revenue_8    Revenue_9  ...  \
Region Segment Customer_ID                                         ...
West   B2C     0             757.858074  1706.734253   544.162321  ...
               1            1637.738762   456.105467  3983.363505  ...
East   B2C     2            1567.110126   920.169511   429.991202  ...
West   B2C     3             870.759580   932.209128  2547.557936  ...
South  B2C     4            1517.704501   454.170130  2702.503839  ...

                            Flag_10  Flag_11  Flag_12  Flag_13  Flag_14  \
Region Segment Customer_ID
West   B2C     0               True    False     True    False    False
               1               True     True     True     True     True
East   B2C     2              False    False     True    False    False
West   B2C     3              False     True     True    False    False
South  B2C     4               True     True    False    False    False

                            Flag_15  Flag_16  Flag_17  Flag_18  Flag_19
Region Segment Customer_ID
West   B2C     0               True    False     True     True     True
               1               True    False    False    False     True
East   B2C     2              False    False    False    False     True
West   B2C     3              False     True     True    False    False
South  B2C     4              False    False     True     True     True

[5 rows x 100 columns]

/tmp/ipython-input-2758348756.py:41: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df.index[idx], col] = np.nan

How to import the files in google colab

In [5]:
from google.colab import files
uploaded = files.upload()
import pandas as pd
import io

uploaded_file_name = list(uploaded.keys())[0]

try:
    df = pd.read_csv(io.BytesIO(uploaded[uploaded_file_name]), encoding='latin1')
except UnicodeDecodeError:
    df = pd.read_csv(io.BytesIO(uploaded[uploaded_file_name]), encoding='ISO-8859-1')

print("DataFrame loaded successfully:")
print(df.head())

Saving bi.csv to bi (3).csv
DataFrame loaded successfully:
    ï»¿fNAME      lNAME  Age  gender       country  residence  entryEXAM  \
0  Christina     Binger   44  Female        Norway    Private         72
1       Alex   Walekhwa   60       M         Kenya    Private         79
2     Philip        Leo   25    Male        Uganda  Sognsvann         55
3      Shoni  Hlongwane   22       F           Rsa  Sognsvann         40
4      Maria   Kedibone   23  Female  South Africa  Sognsvann         65

  prevEducation  studyHOURS  Python  DB
0       Masters         158    59.0  55
1       Diploma         150    60.0  75
2    HighSchool         130    74.0  50
3   High School         120     NaN  44
4   High School         122    91.0  80

In [6]:
df.isna()

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
72,False,False,False,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isna().sum()

ï»¿fNAME         0
lNAME            0
Age              0
gender           0
country          0
residence        0
entryEXAM        0
prevEducation    0
studyHOURS       0
Python           2
DB               0
dtype: int64

In [8]:
df.value_counts()

ï»¿fNAME   lNAME       Age  gender  country  residence     entryEXAM  prevEducation  studyHOURS  Python  DB
Aisha      Nakaweesi   37   Female  Uganda   Private       55         Diploma        142         66.0    58    1
Alex       Walekhwa    60   M       Kenya    Private       79         Diploma        150         60.0    75    1
Anna       MÃ¼ller     31   Female  Germany  Sognsvann     89         Masters        160         87.0    61    1
Berit      Eide        24   Female  Norway   BI Residence  54         High School    136         57.0    50    1
BjÃ¸rg     Fredriksen  35   Male    Norway   BI Residence  68         Diploma        136         60.0    78    1
                                                                                                              ..
Thor       Sandvik     27   Male    Norway   BI Residence  85         Bachelors      158         84.0    90    1
Tore       Abrahamsen  22   Female  Norway   BI Residence  73         High School    144         70.0    55    1
Trond      Karlsen     37   Female  Norway   Private       45         Bachelors      142         57.0    50    1
Unni       Jacobsen    41   Female  Norway   Private       90         Masters        156         80.0    83    1
Valentino  Ojiambo     27   Male    Kenya    Sognsvann     85         Bachelors      156         84.0    68    1
Name: count, Length: 75, dtype: int64

In [9]:
df['entryEXAM'] #Selecting a single column: df['column_name'] (returns a Series)

0     72
1     79
2     55
3     40
4     65
      ..
72    80
73    90
74    96
75    90
76    35
Name: entryEXAM, Length: 77, dtype: int64

In [11]:
df[['Age','gender']]  #Selecting multiple columns: df[['col1', 'col2']] (returns a DataFrame)

    Age  gender
0    44  Female
1    60       M
2    25    Male
3    22       F
4    23  Female
..  ...     ...
72   43  Female
73   31    Male
74   33  Female
75   35    Male
76   31    Male

[77 rows x 2 columns]

In [19]:
df.loc[74,'lNAME']

'Brown'

In [20]:
df.loc[56,'Age']

np.int64(42)

In [21]:
df.loc[0:30, ['lNAME', 'Age']]

          lNAME  Age
0        Binger   44
1      Walekhwa   60
2           Leo   25
3     Hlongwane   22
4      Kedibone   23
5        Hansen   25
6      Johansen   27
7         Olsen   29
8        Larsen   31
9        Jensen   33
10     de Vries   34
11     Eliassen   36
12      Knudsen   38
13    Myklebust   40
14        Rossi   42
15         Eide   43
16     Andresen   45
17     Eliassen   47
18  Kristiansen   48
19    Mikkelsen   50
20    Birkeland   22
21      Isaksen   24
22         Berg   26
23   RodrÃ­guez   28
24        Ahmed   30
25       Brekke   32
26       Bakken   35
27    Nakaweesi   37
28    Muwanguzi   39
29     Nakalema   41
30    Edvardsen   44

In [23]:
df.iloc[56, 9]

np.float64(84.0)

In [24]:
df.iloc[0:50, 0:7] # rows 0-2, columns 0-1

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM
0,Christina,Binger,44,Female,Norway,Private,72
1,Alex,Walekhwa,60,M,Kenya,Private,79
2,Philip,Leo,25,Male,Uganda,Sognsvann,55
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65
5,Hannah,Hansen,25,female,Norge,BI Residence,66
6,Ole,Johansen,27,Male,Norway,BI-Residence,90
7,Lars,Olsen,29,Male,norway,BIResidence,89
8,BjÃ¸rn,Larsen,31,Male,Norway,BI Residence,88
9,Sofie,Jensen,33,Female,Denmark,BI_Residence,85
10,Emma,de Vries,34,Female,Netherlands,BI Residence,65
11,Solveig,Eliassen,36,Female,Norway,Private,70
12,Odd,Knudsen,38,male,Norway,Private,91
13,Grethe,Myklebust,40,Female,Norway,Private,77
14,Marco,Rossi,42,Male,Italy,Private,80
15,Ingrid,Eide,43,Female,Norway,Private,81
16,Hanna,Andresen,45,Female,Norway,Private,85
17,Jorunn,Eliassen,47,Female,Norway,Private,86
18,Sebastian,Kristiansen,48,Male,Norway,Private,75
19,Camilla,Mikkelsen,50,Female,Norway,Private,95
20,Prof,Birkeland,22,Male,Norway,BI Residence,45
21,Hanna,Isaksen,24,Female,Norway,BI Residence,50
22,Kristine,Berg,26,Female,Norway,BI Residence,55
23,Carmen,RodrÃ­guez,28,Female,Spain,BI Residence,78
24,Odd,Ahmed,30,Male,Norway,BI Residence,82
25,Gunnar,Brekke,32,Male,Norway,BI Residence,81
26,Gerd,Bakken,35,Female,Norway,BI Residence,92
27,Aisha,Nakaweesi,37,Female,Uganda,Private,55
28,Kato,Muwanguzi,39,Male,Uganda,Private,80
29,Nansubuga,Nakalema,41,Female,Uganda,Private,86
30,Joakim,Edvardsen,44,Male,Norway,Private,78
31,Don,Pettersen,46,Male,Norway,Private,76
32,Perry,RÃ¸nning,71,Female,Norway,Private,30
33,Frank,Abrahamsen,23,Male,Norway,BI Residence,68
34,Line,NÃ¦ss,25,Female,Norway,BI Residence,98
35,Thor,Sandvik,27,Male,Norway,BI Residence,85
36,Petter,Ellingsen,29,Male,Norway,BI Residence,75
37,Sindre,Hansen,31,Male,Norway,BI Residence,95
38,Simen,Myhre,33,Female,Norway,BI Residence,50
39,BjÃ¸rg,Fredriksen,35,Male,Norway,BI Residence,68
40,Trond,Karlsen,37,Female,Norway,Private,45
41,Emily,Thompson,39,Female,UK,Private,90
42,Unni,Jacobsen,41,Female,Norway,Private,90
43,Grethe,Brekke,43,Female,Norway,Private,96
44,Ruth,Pedersen,45,Female,Norway,Private,95
45,Inger,Jensen,47,Male,Norway,Private,89
46,Peninah,Andresen,22,Female,Norway,BI Residence,78
47,Berit,Eide,24,Female,Norway,BI Residence,54
48,Jenny,Kristoffersen,26,Female,Norway,BI Residence,68
49,Thea,Knutsen,28,Male,Norway,BI Residence,69

In [25]:
df[df['Age'] > 30] # All rows where Age is greater than 30

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,Christina,Binger,44,Female,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
8,BjÃ¸rn,Larsen,31,Male,Norway,BI Residence,88,Bachelors,156,80.0,89
9,Sofie,Jensen,33,Female,Denmark,BI_Residence,85,Bachelors,160,83.0,90
10,Emma,de Vries,34,Female,Netherlands,BI Residence,65,Bachelors,156,79.0,58
11,Solveig,Eliassen,36,Female,Norway,Private,70,diploma,156,80.0,55
12,Odd,Knudsen,38,male,Norway,Private,91,DIPLOMA,156,85.0,99
13,Grethe,Myklebust,40,Female,Norway,Private,77,Diplomaaa,144,70.0,76
14,Marco,Rossi,42,Male,Italy,Private,80,Bachelors,152,75.0,77
15,Ingrid,Eide,43,Female,Norway,Private,81,Bachelors,156,80.0,82
16,Hanna,Andresen,45,Female,Norway,Private,85,Bachelors,156,87.0,82
17,Jorunn,Eliassen,47,Female,Norway,Private,86,Bachelors,156,80.0,78
18,Sebastian,Kristiansen,48,Male,Norway,Private,75,Bachelors,148,76.0,73
19,Camilla,Mikkelsen,50,Female,Norway,Private,95,Masters,160,84.0,90
25,Gunnar,Brekke,32,Male,Norway,BI Residence,81,Bachelors,158,85.0,83
26,Gerd,Bakken,35,Female,Norway,BI Residence,92,Masters,160,87.0,88
27,Aisha,Nakaweesi,37,Female,Uganda,Private,55,Diploma,142,66.0,58
28,Kato,Muwanguzi,39,Male,Uganda,Private,80,Bachelors,156,81.0,69
29,Nansubuga,Nakalema,41,Female,Uganda,Private,86,Bachelors,154,81.0,91
30,Joakim,Edvardsen,44,Male,Norway,Private,78,Diploma,152,80.0,79
31,Don,Pettersen,46,Male,Norway,Private,76,Diploma,156,85.0,45
32,Perry,RÃ¸nning,71,Female,Norway,Private,30,Doctorate,120,31.0,42
37,Sindre,Hansen,31,Male,Norway,BI Residence,95,Bachelors,158,87.0,99
38,Simen,Myhre,33,Female,Norway,BI Residence,50,Diploma,144,69.0,33
39,BjÃ¸rg,Fredriksen,35,Male,Norway,BI Residence,68,Diploma,136,60.0,78
40,Trond,Karlsen,37,Female,Norway,Private,45,Bachelors,142,57.0,50
41,Emily,Thompson,39,Female,UK,Private,90,Masters,158,85.0,74
42,Unni,Jacobsen,41,Female,Norway,Private,90,Masters,156,80.0,83
43,Grethe,Brekke,43,Female,Norway,Private,96,Masters,158,87.0,92
44,Ruth,Pedersen,45,Female,Norway,Private,95,Masters,160,88.0,86
45,Inger,Jensen,47,Male,Norway,Private,89,Doctorate,160,86.0,60
51,Mwanaidi,Ali,32,Female,Somali,BI Residence,82,Bachelors,156,84.0,59
53,Chinedu,Morison,36,Male,Nigeria,Private,28,Diploma,120,15.0,67
54,Irene,StrÃ¸mertan,38,Female,Norway,Private,80,Masters,158,84.0,50
55,Chinedu,Okafor,69,Male,Nigeria,Private,94,Doctorate,160,87.0,88
56,Marianne,Ruud,42,Male,Norway,Private,91,Doctorate,158,84.0,82
58,Morten,Olsen,46,Female,Norway,Private,94,Doctorate,160,90.0,77
60,Ola,Bakke,50,Female,Norway,Private,81,Bachelors,158,87.0,46
66,Anna,MÃ¼ller,31,Female,Germany,Sognsvann,89,Masters,160,87.0,61
67,Lucas,Schmidt,33,Male,Germany,Sognsvann,98,Masters,160,87.0,86
68,Marie,Dubois,35,Female,France,Sognsvann,69,Bachelors,144,69.0,45
69,Thomas,GarcÃ­a,37,Male,Spain,Private,80,Bachelors,152,78.0,62
70,Emma,Janssen,39,Female,Netherlands,Private,81,Masters,160,80.0,71
71,Maximilan,Martini,50,Male,Italy,Private,74,Masters,140,63.0,60
72,Clara,Bernard,43,Female,France,Private,80,Bachelors,150,75.0,43
73,Julian,Nielsen,31,Male,Denmark,Sognsvann,90,Masters,158,84.0,83
74,Sophie,Brown,33,Female,UK,Sognsvann,96,Masters,158,85.0,90
75,Leon,Bauer,35,Male,Germany,Sognsvann,90,Masters,160,87.0,74
76,Mohammed,Salim,31,Male,Somali,Sognsvann,35,Masters,144,72.0,90

In [26]:
df[df['entryEXAM'] > 30] # All rows where Age is greater than 30

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,Christina,Binger,44,Female,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80
...,...,...,...,...,...,...,...,...,...,...,...
72,Clara,Bernard,43,Female,France,Private,80,Bachelors,150,75.0,43
73,Julian,Nielsen,31,Male,Denmark,Sognsvann,90,Masters,158,84.0,83
74,Sophie,Brown,33,Female,UK,Sognsvann,96,Masters,158,85.0,90
75,Leon,Bauer,35,Male,Germany,Sognsvann,90,Masters,160,87.0,74
76,Mohammed,Salim,31,Male,Somali,Sognsvann,35,Masters,144,72.0,90

In [27]:
df[df['entryEXAM'] < 30]

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
53,Chinedu,Morison,36,Male,Nigeria,Private,28,Diploma,120,15.0,67

In [28]:
df[df['entryEXAM'] >= 30]

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,Christina,Binger,44,Female,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80
...,...,...,...,...,...,...,...,...,...,...,...
72,Clara,Bernard,43,Female,France,Private,80,Bachelors,150,75.0,43
73,Julian,Nielsen,31,Male,Denmark,Sognsvann,90,Masters,158,84.0,83
74,Sophie,Brown,33,Female,UK,Sognsvann,96,Masters,158,85.0,90
75,Leon,Bauer,35,Male,Germany,Sognsvann,90,Masters,160,87.0,74
76,Mohammed,Salim,31,Male,Somali,Sognsvann,35,Masters,144,72.0,90

In [29]:
df[df['entryEXAM'] <= 30]

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
32,Perry,RÃ¸nning,71,Female,Norway,Private,30,Doctorate,120,31.0,42
53,Chinedu,Morison,36,Male,Nigeria,Private,28,Diploma,120,15.0,67

In [32]:
df[(df['residence'] == 'Sognsvann') & (df['Age'] < 90)] # Combining conditions

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80
64,Valentino,Ojiambo,27,Male,Kenya,Sognsvann,85,Bachelors,156,84.0,68
65,Peter,Kubebea,29,Male,Kenya,Sognsvann,83,Bachelors,156,81.0,67
66,Anna,MÃ¼ller,31,Female,Germany,Sognsvann,89,Masters,160,87.0,61
67,Lucas,Schmidt,33,Male,Germany,Sognsvann,98,Masters,160,87.0,86
68,Marie,Dubois,35,Female,France,Sognsvann,69,Bachelors,144,69.0,45
73,Julian,Nielsen,31,Male,Denmark,Sognsvann,90,Masters,158,84.0,83
74,Sophie,Brown,33,Female,UK,Sognsvann,96,Masters,158,85.0,90
75,Leon,Bauer,35,Male,Germany,Sognsvann,90,Masters,160,87.0,74
76,Mohammed,Salim,31,Male,Somali,Sognsvann,35,Masters,144,72.0,90

In [41]:
df[(df['residence'] == 'Sognsvann') & (df['entryEXAM'] == 90)] # Combining conditions

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
73,Julian,Nielsen,31,Male,Denmark,Sognsvann,90,Masters,158,84.0,83
75,Leon,Bauer,35,Male,Germany,Sognsvann,90,Masters,160,87.0,74

In [42]:
df[(df['residence'] == 'Sognsvann') & (df['entryEXAM'] <= 90)] # Combining conditions

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80
64,Valentino,Ojiambo,27,Male,Kenya,Sognsvann,85,Bachelors,156,84.0,68
65,Peter,Kubebea,29,Male,Kenya,Sognsvann,83,Bachelors,156,81.0,67
66,Anna,MÃ¼ller,31,Female,Germany,Sognsvann,89,Masters,160,87.0,61
68,Marie,Dubois,35,Female,France,Sognsvann,69,Bachelors,144,69.0,45
73,Julian,Nielsen,31,Male,Denmark,Sognsvann,90,Masters,158,84.0,83
75,Leon,Bauer,35,Male,Germany,Sognsvann,90,Masters,160,87.0,74
76,Mohammed,Salim,31,Male,Somali,Sognsvann,35,Masters,144,72.0,90

In [43]:
df[(df['residence'] == 'Sognsvann') & (df['entryEXAM'] >= 90)] # Combining conditions

,ï»¿fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
67,Lucas,Schmidt,33,Male,Germany,Sognsvann,98,Masters,160,87.0,86
73,Julian,Nielsen,31,Male,Denmark,Sognsvann,90,Masters,158,84.0,83
74,Sophie,Brown,33,Female,UK,Sognsvann,96,Masters,158,85.0,90
75,Leon,Bauer,35,Male,Germany,Sognsvann,90,Masters,160,87.0,74