<a href="https://colab.research.google.com/github/SShresth7272/Python-Code/blob/main/Sample_Sales_Data_Pandas_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded = files.upload()

Saving sales_data_sample.csv to sales_data_sample (1).csv

In [4]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['sales_data_sample (1).csv']))

In [6]:
df.shape

(2823, 25)

In [9]:
df.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [10]:
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [13]:
df['Total'] = df['QUANTITYORDERED'] * df['PRICEEACH']
print(df)
df.head(5)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ... ADDRESSLINE2  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...          NaN
1     05/07/2003 0:00   Shipped       2         5     2003  ...          NaN
2     07/01/2003 0:00   Shipped       3         7     2003  ...          NaN
3      8/25/2003 0:00   Shipped       3         8     2003  ...          NaN
4     10/10/2003 0:00   Shipped       4        10     2003  ...          NaN
...               ...       ...     ...       ...      ...  ...          ...
2818  12/02/2004 0:00   Shipped       4        12     2004  ...          NaN
2819   1/31/2005 0:00   Shipped       1         1     2005  ...          NaN
2820  03/01/2005 0:00  Resolved       1         3     2005  ...          NaN
2821   3/28/2005 0:00   Shipped       1         3     2005  ...          NaN
2822  05/06/2005 0:00   On Hold       2         5     2005  ...          NaN

               CITY STATE POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME  \
0               NYC    NY      10022      USA       NaN              Yu
1             Reims   NaN      51100   France      EMEA         Henriot
2             Paris   NaN      75508   France      EMEA        Da Cunha
3          Pasadena    CA      90003      USA       NaN           Young
4     San Francisco    CA        NaN      USA       NaN           Brown
...             ...   ...        ...      ...       ...             ...
2818         Madrid   NaN      28034    Spain      EMEA          Freyre
2819           Oulu   NaN      90110  Finland      EMEA       Koskitalo
2820         Madrid   NaN      28034    Spain      EMEA          Freyre
2821       Toulouse   NaN      31000   France      EMEA          Roulet
2822         Boston    MA      51003      USA       NaN         Yoshido

     CONTACTFIRSTNAME DEALSIZE    Total
0                Kwai    Small  2871.00
1                Paul    Small  2765.90
2              Daniel   Medium  3884.34
3               Julie   Medium  3746.70
4               Julie   Medium  4900.00
...               ...      ...      ...
2818            Diego    Small  2000.00
2819           Pirkko   Medium  2900.00
2820            Diego   Medium  4300.00
2821          Annette    Small  2116.16
2822             Juri   Medium  3079.44

[2823 rows x 26 columns]

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,Total
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,2871.00
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,2765.90
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,3884.34
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,3746.70
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,4900.00

In [19]:
df['YEAR_ID'] = pd.to_datetime(df['ORDERDATE']).dt.year
df['MONTH_ID'] = pd.to_datetime(df['ORDERDATE']).dt.month
display(df)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,Total
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,2871.00
1,10121,34,81.35,5,2765.90,05/07/2003 0:00,Shipped,2,5,2003,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,2765.90
2,10134,41,94.74,2,3884.34,07/01/2003 0:00,Shipped,3,7,2003,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,3884.34
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,3746.70
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,4900.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/02/2004 0:00,Shipped,4,12,2004,...,NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small,2000.00
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium,2900.00
2820,10386,43,100.00,4,5417.57,03/01/2005 0:00,Resolved,1,3,2005,...,NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium,4300.00
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small,2116.16
2822,10414,47,65.52,9,3079.44,05/06/2005 0:00,On Hold,2,5,2005,...,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium,3079.44

In [21]:
total_sales = df.groupby('CITY')['SALES'].sum()
print(total_sales)

CITY
Aaarhus         100595.55
Allentown       122138.14
Barcelona        78411.86
Bergamo         137955.72
Bergen          111640.28
                  ...
Toulouse         70488.44
Tsawassen        74634.85
Vancouver        75238.92
Versailles       64834.32
White Plains     85555.99
Name: SALES, Length: 73, dtype: float64

In [22]:
most_popular = df.groupby('PRODUCTLINE')['SALES'].sum().idxmax()
highest_sales = df.groupby('PRODUCTLINE')['SALES'].sum().max()

print(f"Most popular product: {most_popular}")
print(f"Total sales: ${highest_sales:,.2f}")

Most popular product: Classic Cars
Total sales: $3,919,615.66

In [27]:
df.sort_values(by='ORDERLINENUMBER',ascending=False)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,Total
2606,10316,48,74.45,18,3573.60,11/01/2004 0:00,Shipped,4,11,2004,...,NaN,Cowes,Isle of Wight,PO31 7PJ,UK,EMEA,Bennett,Helen,Medium,3573.60
800,10386,21,74.77,18,1570.17,03/01/2005 0:00,Resolved,1,3,2005,...,NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small,1570.17
758,10165,31,71.10,18,2204.10,10/22/2003 0:00,Shipped,4,10,2003,...,NaN,Singapore,NaN,79903,Singapore,Japan,Natividad,Eric,Small,2204.10
2807,10222,36,63.34,18,2280.24,2/19/2004 0:00,Shipped,1,2,2004,...,NaN,San Diego,CA,91217,USA,NaN,Thompson,Valarie,Small,2280.24
2010,10275,41,81.89,18,3357.49,7/23/2004 0:00,Shipped,3,7,2004,...,NaN,Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium,3357.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small,2116.16
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium,2900.00
2813,10293,32,60.06,1,1921.92,09/09/2004 0:00,Shipped,3,9,2004,...,NaN,Torino,NaN,10100,Italy,EMEA,Accorti,Paolo,Small,1921.92
19,10329,42,100.00,1,4396.14,11/15/2004 0:00,Shipped,4,11,2004,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Medium,4200.00
18,10318,46,94.74,1,4358.04,11/02/2004 0:00,Shipped,4,11,2004,...,NaN,Allentown,PA,70267,USA,NaN,Yu,Kyung,Medium,4358.04

In [29]:
(df[df["ORDERLINENUMBER"]>10])

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,Total
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,4900.00
9,10211,41,100.00,14,4708.44,1/15/2004 0:00,Shipped,1,1,2004,...,NaN,Paris,NaN,75016,France,EMEA,Perrier,Dominique,Medium,4100.00
21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,2004,...,Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small,1451.00
22,10375,21,34.91,12,733.11,02/03/2005 0:00,Shipped,1,2,2005,...,NaN,Nantes,NaN,44000,France,EMEA,Labrune,Janine,Small,733.11
26,10103,26,100.00,11,5404.62,1/29/2003 0:00,Shipped,1,1,2003,...,NaN,Stavern,NaN,4110,Norway,EMEA,Bergulfsen,Jonas,Medium,2600.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2802,10167,38,48.59,15,1846.42,10/23/2003 0:00,Cancelled,4,10,2003,...,NaN,Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small,1846.42
2805,10197,42,50.23,12,2109.66,11/26/2003 0:00,Shipped,4,11,2003,...,NaN,Barcelona,NaN,8022,Spain,EMEA,Saavedra,Eduardo,Small,2109.66
2807,10222,36,63.34,18,2280.24,2/19/2004 0:00,Shipped,1,2,2004,...,NaN,San Diego,CA,91217,USA,NaN,Thompson,Valarie,Small,2280.24
2812,10283,33,51.32,12,1693.56,8/20/2004 0:00,Shipped,3,8,2004,...,NaN,Tsawassen,BC,T2F 8M4,Canada,NaN,Lincoln,Elizabeth,Small,1693.56
2818,10350,20,100.00,15,2244.40,12/02/2004 0:00,Shipped,4,12,2004,...,NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small,2000.00